Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

NuGet Packages
*.nupkg
*.snupkg
/packages/
.nuget/

Roslyn analyzers
*.ruleset

Build-related files
*.DotSettings
*.csproj.DotSettings.user

Other
*.vsix
*.VC.db
*._Cache
*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.log
*.scc

Rider
.idea/
*.sln.iml